body {
    background-color: black;
    color: white;
}
h1 {
    color: greenyellow;
    text-align: center;
}

p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    margin-left: 2px;
    margin-right: 2px;

}

li {
    color: beige;
    text-align: center;
}

#important {
    color: cyan;
}

.ingre {
    color: red
}

* {
    text-align: justify;
    color: blanchedalmond;
    
}